*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

html
{
    font-size: 62.5%;
}

.navegacion
{
    display: flex;
    margin-left: 1rem;
    font-size: 1.6rem;
    align-items: center; 
    justify-content: flex-end; 
    margin-right: 1rem;
}
div
{
    margin-left: 2rem;
        
}
img 
{
    display: flex;
    justify-content: center;
    margin-left: 0.5rem;
}
.inicio-header 
{
    background-color: blue;
    color: white;
    border-radius: 0.5rem;
    left: 1rem;
    margin-left: 0.5rem;
}
.logo
{
    border:none;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.buscar
{
    justify-content: center;
    border: none;
    height: 15vh;
    position: relative;
    }
.buscar input
{
    width: 50vw;
    height: 8vh;
    border: solid lightgray;
    margin-left: 35rem;
    margin-top: 2rem;
    border-radius: 5rem;
    border-width: 0.3rem;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5rem;
    align-items: center;
    flex-wrap: wrap-reverse;
    position: relative;
    order: 2;
        }
    
    .buscar input:focus
    {
        outline: none;
        
    }

    .lente
    {
      position: relative;
      width: 5vw;
      height: 5vh;
      margin-top: -4rem;
      order: 1;
      margin-left: 36rem;
      border: none;
      cursor: pointer;
           
    }

    .microfono
    {
      position: relative;
      width: 5vw;
      height: 5vh;
      margin-top: -3.7rem;
      order: 1;
      margin-left: 98rem;
      border: none;
      cursor: pointer;
           
    }

    .container_bton__busqueda
    {
        display: flex;
        border: none;
        justify-content: center;
        justify-content: space-evenly;
        width: 30vw;
        height: 5.8vh;
        margin-left: 50rem;
    }
    .container_bton__busqueda input 
    {
        background: gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
        border-radius: 0.5rem;
        border-style: none;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .under_boton
    {
        border: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        width: 50vw;
        margin-left: 36.5rem;
        height: 7vh;
        font-size: 1.6rem;
    }

    .under_boton a 
    {
        padding: 3px;
    }
    

    